In [5]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.4 MB/s eta 0:00:00[31m1.2 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [6]:
import pandas as pd

In [7]:
xlsx_file = pd.read_excel('Data for minor project.xlsx')

In [11]:
xlsx_file.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,EVM0036_ENW020001_13032023_092821: Logged Data...,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Timestamp,Humidity,Temperature,CarbonDioxide,Dust
3,2023-03-03 14:36:28,38.7,30.5,836,0.02
4,2023-03-03 14:51:28,40.4,30.8,1035,0.013
5,2023-03-03 15:06:28,41.4,31.1,1194,0.014
6,2023-03-03 15:21:28,41.1,31.4,1261,0.019
7,2023-03-03 15:36:28,42.1,31.5,1389,0.017
8,2023-03-03 15:51:28,41.9,31.2,1368,0.019
9,2023-03-03 16:06:28,41.1,31.4,1359,0.016
10,2023-03-03 16:21:28,41.5,31.4,1368,0.011
11,2023-03-03 16:36:28,35.4,32,655,0.013
12,2023-03-03 16:51:28,33.9,32.5,508,0.012
13,2023-03-03 17:06:28,33.2,32.6,452,0.009
14,2023-03-03 17:21:28,34.9,32.4,668,0.009

In [9]:
for sheet_name, df in xlsx_file.items():
    print(f"Sheet name: {sheet_name}")
    print(df.head(20))

Sheet name: Unnamed: 0
0     EVM0036_ENW020001_13032023_092821: Logged Data...
1                                                   NaN
2                                             Timestamp
3                                   2023-03-03 14:36:28
4                                   2023-03-03 14:51:28
5                                   2023-03-03 15:06:28
6                                   2023-03-03 15:21:28
7                                   2023-03-03 15:36:28
8                                   2023-03-03 15:51:28
9                                   2023-03-03 16:06:28
10                                  2023-03-03 16:21:28
11                                  2023-03-03 16:36:28
12                                  2023-03-03 16:51:28
13                                  2023-03-03 17:06:28
14                                  2023-03-03 17:21:28
Name: Unnamed: 0, dtype: object
Sheet name: Unnamed: 1
0          NaN
1          NaN
2     Humidity
3         38.7
4         40.4
5         41.4
6         41.1
7         42.1
8         41.9
9         41.1
10        41.5
11        35.4
12        33.9
13        33.2
14        34.9
Name: Unnamed: 1, dtype: object
Sheet name: Unnamed: 2
0             NaN
1             NaN
2     Temperature
3            30.5
4            30.8
5            31.1
6            31.4
7            31.5
8            31.2
9            31.4
10           31.4
11             32
12           32.5
13           32.6
14           32.4
Name: Unnamed: 2, dtype: object
Sheet name: Unnamed: 3
0               NaN
1               NaN
2     CarbonDioxide
3               836
4              1035
5              1194
6              1261
7              1389
8              1368
9              1359
10             1368
11              655
12              508
13              452
14              668
Name: Unnamed: 3, dtype: object
Sheet name: Unnamed: 4
0       NaN
1       NaN
2      Dust
3      0.02
4     0.013
5     0.014
6     0.019
7     0.017
8     0.019
9     0.016
10    0.011
11    0.013
12    0.012
13    0.009
14    0.009
Name: Unnamed: 4, dtype: object